# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .NET Core build folders
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.[Cc]ache
!.vscode/tasks.json
!.vscode/launch.json

# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
